    {% extends "base_generic.html" %}
    {% block content %}
    <section class="site-section py-lg">
      <div class="container">
        
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <h1 class="mb-4">{{post.title}}</h1>
            <div class="post-meta">
                        <span class="category">{{post.category}}</span>
                        <span class="mr-2">{{post.date_posted}}</span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                      </div>
            <div class="post-content-body">
              <p>{{post.content|safe}}</p>
            
            <div class="row mb-5">
              
              
            </div>
           
            </div>

            
            
            </div>
    


            

          <!-- END main-content -->

         {% endblock %}